.slider-container {
  margin: 20px auto;
  padding: 0 20px;
}

.slick-prev:before,
.slick-next:before {
  color: #000;
}

.slick-slide {
  padding: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}
.slider-container {
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;
}

.slick-slide {
  padding: 0 10px;
}

.slick-prev:before,
.slick-next:before {
  color: #000;
}

.slider-container img {
  max-width: 150px; /* 포스터 너비 조정 */
  max-height: 225px; /* 포스터 높이 조정 */
  object-fit: cover; /* 이미지 비율 유지 */
  margin: 0; /* 이미지 가운데 정렬 */
}

.slider-container .movie-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-item {
  width: 150px; /*부모요소의 크기를 포스터와 일치*/
  margin: 0 auto; /*중앙 정렬*/
  text-align: center;
}

.movie-item h3 {
  display: flex;
  font-size: 14px; /*제목 텍스트 크기 조정*/
  line-height: 1.2; /* 줄 간격 조정 */
  white-space: nowrap; /*텍스트를 한 줄로 제한*/
  overflow: hidden; /* 넘치는 텍스트 숨김*/
  text-overflow: ellipsis; /*말줄임 표시 추가*/
}
