.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
}
.navbar-logo {
  color: purple;
  font-size: 24px;
  font-weight: bold;
}
.navbar-button button {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0;
}
